<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Calreact</title>
=======
    <title>ReactRailsCalendar</title>
>>>>>>> 5400948c01b3069b8c8005164c94cbaf7d3071be
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
